# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
myenv/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.xlsx

# Models
*.zip
*.pkl

# Generated outputs
*.csv
results/
*.npz

# OS
.DS_Store
Thumbs.db*.csv 
